body
{
	background: black url(bgdm.jpg) top center no-repeat;
	color: #539136;
	
}

a:link, a:visited
{
	color: #539136;
	text-decoration: none;
}
a:hover, a:active
{
	color: #539136;
	text-decoration: bold;
}
